@keyframes pulse {
  /*pulse button prototype*/
  from {
    background-color: #5CDB95;
    color: #05386b;
  }
  to {
    background-color: #05386b;
    color: #5CDB95;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  border: 1px solid #05386b;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #EDF5E1;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #05386b;
}
header {
  padding-top: 10vh;
  margin: 1vh 0;
}
@media (max-width: 500px) {
  header {
    padding-top: 5vh;
  }
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #05386b;
}
body {
  background-color: #5CDB95;
}
hr {
  color: #05386b;
  background-color: #05386b;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}
@media (max-width: 500px) {
  nav {
    justify-content: center;
  }
}
nav .image {
  width: 125px;
  opacity: 1;
}
nav .image img {
  border: 1px solid #5CDB95;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  height: 10vh;
}
nav .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: 80%;
  margin: 1vh 0 0 20%;
  font-size: 1.75rem;
}
@media (max-width: 800px) {
  nav .links {
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin: 1vh 2%;
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  nav .links {
    font-size: 1.25rem;
  }
}
nav .links a {
  text-decoration: none;
  color: black;
}
body {
  background-image: url("https://images.unsplash.com/photo-1459664018906-085c36f472af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 5%;
}
#topSection {
  margin-top: 10%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
.signUp button {
  border: 3px solid #05386b;
  padding: 10%;
  border-radius: 50%;
  font-size: 40px;
  font-family: "Fredoka One";
  background-color: #5cdb9596;
  color: #05386b;
  margin-left: 32%;
  margin-top: 2%;
}
.signup button:hover {
  color: #caca1e;
  border: 3px solid yellow;
  text-decoration: underline;
}
.headerTitle {
  font-size: 36px;
  font-family: "Indie Flower";
  border: 3px solid #05386b;
  padding-left: 16%;
  padding-right: 16%;
  padding-bottom: 5%;
  padding-top: 5%;
  border-radius: 40%;
  background-color: #fdfdfda8;
  font-weight: bolder;
  color: #05386b;
  width: 65%;
  margin-left: 18%;
  text-align: center;
}
.headerTitle span {
  font-size: 48px;
}
.middleSection,
.missionSection {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  border: 3px solid #05386b;
  padding: 5%;
  font-family: "Fredoka One";
  margin-left: 25%;
  margin-top: 5%;
  border-radius: 20px;
  background-color: #fdfdfda8;
  color: #05386b;
  font-size: 26px;
}
.middleSection p {
  font-family: "Signika";
  line-height: 30px;
  font-size: 20px;
}
.middleSection p span {
  font-family: "Indie Flower";
  font-weight: 900;
  font-size: 36px;
  padding: 5px;
}
.youCan {
  text-align: center;
  border: 3px solid #05386b;
  width: 25%;
  margin-left: 37%;
  margin-top: 2%;
  padding: 2%;
  border-radius: 10px;
  background-color: #fdfdfda8;
  font-family: "Signika";
  color: #05386b;
  font-size: 20px;
}
.youCan span {
  font-family: "Indie Flower";
  font-weight: 900;
  font-size: 32px;
  padding: 5px;
}
.youCan h2 {
  font-size: 22px;
}
.bottomSection {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
.setWatering,
.setFeeding,
.keepTrack {
  display: flex;
  border: 3px solid #05386b;
  padding: 3%;
  border-radius: 50%;
  font-size: 18px;
  font-family: "Fredoka One";
  background-color: #fdfdfda8;
  color: #05386b;
  width: 20%;
  height: 20%;
  text-align: center;
  flex-direction: row;
  margin-top: 5%;
}
.setWatering {
  margin-left: 15%;
}
.setFeeding {
  margin-right: 15%;
}
.setWatering h2,
.setFeeding h2,
.keepTrack h2 {
  margin-top: 5%;
}
.fas {
  font-size: 36px;
}
.bottomSection img {
  margin-top: 5%;
}
.setWatering:hover {
  background-color: #d9e9e0;
  border: 3px dotted #05386b;
  color: #08813e;
}
.setFeeding:hover {
  background-color: #d9e9e0;
  border: 3px dotted #05386b;
  color: #08813e;
}
.keepTrack:hover {
  background-color: #d9e9e0;
  border: 3px dotted #05386b;
  color: #08813e;
}
.bottomLogo {
  border-radius: 50%;
}
@media (max-width: 800px) {
  .signUp button {
    margin-left: 20%;
  }
  .bottomSection {
    flex-direction: column;
  }
  .setWatering {
    width: 40%;
    height: 60%;
    margin-left: 30%;
  }
  .setFeeding {
    width: 40%;
    height: 60%;
    margin-left: 30%;
  }
  .keepTrack {
    width: 40%;
    height: 60%;
    margin-left: 30%;
  }
  .bottomLogo {
    display: none;
  }
}
@media (max-width: 600px) {
  .signUp button {
    margin-left: 20%;
  }
  .bottomSection {
    flex-direction: column;
  }
  .setWatering {
    width: 40%;
    height: 60%;
    margin-left: 30%;
  }
  .setFeeding {
    width: 40%;
    height: 60%;
    margin-left: 30%;
  }
  .keepTrack {
    width: 40%;
    height: 60%;
    margin-left: 30%;
  }
  .bottomLogo {
    display: none;
  }
}
@media (max-width: 500px) {
  .signUp button {
    margin-right: 35%;
  }
  .bottomSection {
    flex-direction: column;
  }
  .setWatering {
    width: 40%;
    height: 60%;
    margin-left: 30%;
  }
  .setFeeding {
    width: 40%;
    height: 60%;
    margin-left: 30%;
  }
  .keepTrack {
    width: 40%;
    height: 60%;
    margin-left: 30%;
  }
  .bottomLogo {
    display: none;
  }
}
@media (max-width: 1050px) {
  .signUp button {
    margin-left: 25%;
  }
  .bottomSection {
    flex-direction: column;
  }
  .setWatering {
    width: 40%;
    height: 60%;
    margin-left: 30%;
  }
  .setFeeding {
    width: 40%;
    height: 60%;
    margin-left: 30%;
  }
  .keepTrack {
    width: 40%;
    height: 60%;
    margin-left: 30%;
  }
  .bottomLogo {
    display: none;
  }
}
body.contact {
  background-image: url('../img/garden.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media (max-width: 800px) {
  body.contact {
    height: 100%;
    background-image: url('../img/garden.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
.contact {
  width: 80%;
  padding: 0 1%;
  padding-bottom: 20px;
  margin: 0 auto;
}
.contact .container {
  background-color: white;
  padding-top: 2vh;
  margin: 10vh 10%;
}
.contact h2 {
  padding-bottom: 1vh;
}
.contact button {
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: #5CDB95;
  color: #05386b;
  padding: 1vh 0;
  border: 2px solid #05386b;
  margin: 3% auto;
}
@media (max-width: 800px) {
  .contact button {
    width: 100%;
  }
}
.contact button:hover {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.contact input,
.contact textarea {
  border: none;
  border-bottom: 3px solid #05386b;
  background-color: white;
  width: 100%;
  height: 40px;
}
.contact textarea {
  font-size: 2rem;
}
.contact label,
.contact input {
  color: #05386b;
  padding: 1vh 0;
  margin: 10px 0;
  display: flex;
  font-size: 1.5rem;
}
body.about {
  background-image: url('https://images.unsplash.com/photo-1534614310503-71f6d476047d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80');
}
.about .team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}
.about .team .member {
  max-width: 300px;
  height: 38vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 3vh 2%;
  padding: 2vh 1%;
  border-radius: 20px;
}
.about .team .member img {
  height: 40%;
  border-radius: 20px;
}
.about .team .member h2 {
  font-size: 2.5rem;
  padding: 2vh 0;
  text-align: center;
}
.about .team .member p {
  margin-left: 1%;
  line-height: 3vh;
}
