// General Styling
*{
  box-sizing: border-box;
  border: 1px solid @water-blue;
}

html {
    font-size: 62.5%;
}
  
html, body {
    font-family: 'Ubuntu', sans-serif;
    color: @ivory;
}
  
h1, h2, h3, h4, h5 {
    font-family: 'Russo One', sans-serif;
    color: @water-blue;
}
header{
    padding-top:10vh;
    margin: 1vh 0;
    @media @phone{
        padding-top: 5vh;
    }
}
h2 {
    font-size: 3.2rem;
}
  h3 {
    font-size: 2.8rem;
}
  
p {
    font-size: 1.6rem;
    line-height: 1.4;
    color:@water-blue;
}
body{
    background-color:@mint;
}
    
hr {
    color:@water-blue;
    background-color:@water-blue;
}