// General Styling
* {
    box-sizing: border-box;
    border: 1px solid black;
  }
  
  html {
    font-size: 62.5%;
  }
  
  html, body {
    font-family: 'Ubuntu', sans-serif;
    color: @ivory;
  }
  
  h1, h2, h3, h4, h5 {
    font-family: 'Russo One', sans-serif;
    color: @water-blue;
  }
  header{
    padding-top:88.188px;
    margin: 0 auto;
    @media @phone{
      padding-top:122.813px;
    }
  }
  h2 {
    font-size: 3.2rem;
  }
  
  h3 {
    font-size: 2.8rem;
  }
  
  p {
    font-size: 1.6rem;
    line-height: 1.4;
  }
  
  